@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 17, 17;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  line-height: 1.7;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

body.home-page {
  overflow: hidden;
  height: 100vh;
}

a {
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
